<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Page Container -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" th:href="@{/inventory}">Inventory</a>
    </nav>

    <!-- Row -->
    <div class="d-flex flex-row">

        <!-- Card -->
        <div class="card m-2" style="width: 18rem;" th:each="item: ${inventory}">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <h5 class="card-title">Bread</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$3.29</h6>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div> <!-- End of Card -->

    </div> <!-- End of Row -->

</div> <!-- End of Page Container -->
</body>
</html>